<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>用户</title>

    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">

    

</head>

<body>

    <div class="container">

        <ul class="nav nav-tabs">

          <li role="presentation" {% ifequal type 'dns'%}class="active"{% endifequal%}><a href="/logview/dnslog">DNSLog</a></li>

          <li role="presentation" {% ifequal type 'web'%}class="active"{% endifequal%}><a href="/logview/weblog">WebLog</a></li>
          
          <li role="presentation" {% ifequal type 'manage'%}class="active"{% endifequal%}><a href="/logview/manage">Manage</a></li>

          <!-- <li role="presentation"><a href="/selfinfo/">selfinfo</a></li> -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logview/logout">Logout</a></li>  
          </ul>
        </ul>

        {% ifequal type 'manage'%}

        <div class="bs" data-example-id="hoverable-table">

            <table class="table table-hover">

              <thead>

                <tr>

                  <th>#</th>

                  <th>username</th>

                  <th>subdomain</th>

                  <th>date</th>

                  <th>manage</th>
                </tr>

              </thead>

              <tbody>

                {% for user in users %}

                <tr>

                <th scope="row">{{user.id}}</th>

                <td>{{ user.user }}</td>

                <td>{{ user.subdomain }}</td>

                <td>{{ user.add_time|date:'Y-m-d H:i:s' }}</td>

                <td><a href="#" onclick="editUser({{user.id}})">edit</a>

                  {% ifnotequal user.id 1%}
                  <a href="#" onclick="delUser({{user.id}})">del</a></td>
                  {% endifnotequal %}

                </tr>

                {% endfor %}

              </tbody>

            </table>

            <nav>

              <ul class="pagination">

                <li><a class="btn btn-default" href="#" role="button" onclick="showAddModal()">add</a></li>

                {% ifnotequal userpage 1%}

                <li>

                  <a href="/logview/manage?userpage={{userpage | add:-1}}" aria-label="Previous">

                    <span aria-hidden="true">&laquo;</span>

                  </a>

                </li>

                {% endifnotequal %}

                {% for range in pagerange %}

                <li><a href="/logview/manage?userpage={{range}}">{{range}}</a></li>

                {% endfor %}

                {% ifnotequal userpage numpages%}

                <li>

                  <a href="/logview/manage?userpage={{userpage|add:1}}" aria-label="Next">

                    <span aria-hidden="true">&raquo;</span>

                  </a>

                </li>

                {% endifnotequal%}

              </ul>

            </nav>



        </div>

        {% endifequal%}

    </div>
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="addUserModalTitle">新增用户</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="username">
                    <input type="password" name="password">
                    <input type="text" name="subdomain">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="addUserModalButton">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalTitle" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="editUserModalTitle">新增用户</h4>
              </div>
              <div class="modal-body">
                  <input type="text" name="username">
                  <input type="password" name="password">
                  <input type="text" name="subdomain">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-primary" id="editUserModalButton">提交更改</button>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="delUserModal" tabindex="-1" role="dialog" aria-labelledby="delUserModalTitle" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="editUserModalTitle">新增用户</h4>
              </div>
              <div class="modal-body">
                  <input type="text" name="username">
                  <input type="password" name="password">
                  <input type="text" name="subdomain">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-primary" id="delUserModalButton">提交更改</button>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>
    <script type="text/javascript">
      function showAddModal(){
        $("#addUserModal").modal("show");
      }
      function editUser(id){
        $("#editUserModal").modal("show");
      }
      function delUser(id){
        $("#delUserModal").modal("show");
      }
    </script>
</body>
<script src="//cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
